In [20]:
#Question 1.

#Create a data.frame object called state_df with two columns, 
#one called state and one called population. Each columns should have five elements. 
#For the state column, select the abbreviations for five US states. 
#For the population column, use the sample() function to create "populations" at random from the range 1 to 1000000.

#Question 2.

#Add a third column to the state_df dataframe called size. 
#In particular, use boolean indexing to assign elements of 
#the third column to be "large" if that row's population value is larger than or equal to 500000, and be "small" if the row's 
#population is less than 500000.

In [3]:
idx <- 1:4
score <- rnorm(4)
vocals <- c(TRUE, TRUE, FALSE, FALSE)
firstname <- c("john", "paul", "george", "ringo")

dat <- data.frame(idx, firstname, score, vocals)

dat

  idx firstname score      vocals
1 1   john       0.4901598  TRUE
2 2   paul      -1.0371305  TRUE
3 3   george     0.9620415 FALSE
4 4   ringo      0.6153963 FALSE

In [53]:
state_df <- 1:5 #could even leave this out here
states <- c("RI", "NY", "AZ", "MA","AL") #start with creating a vector
population <- sample(1:100000,5) #want to take 5 draws from that range => define range first 

state_df <- data.frame(population, states) #first create the vetors, then combine it to a dataframe (aka table) 

state_df

  population states
1 25044      RI
2 50577      NY
3 16625      AZ
4 26955      MA
5 83055      AL

In [54]:


state_df

#Question 2
#do two steps

state_df$size <- rep("large", 5)

  population states
1 25044      RI
2 50577      NY
3 16625      AZ
4 26955      MA
5 83055      AL

In [66]:
is_small <- state_df$population < 500000

state_df[is_small, "size"] <- "small"

In [67]:
state_df

  population states size  size4
1 25044      RI     small small
2 50577      NY     small large
3 16625      AZ     small small
4 26955      MA     small small
5 83055      AL     small large

In [68]:
#method 2
ifelse(state_df$population < 50000, "small", "false") 

state_df

[1] "small" "false" "small" "small" "false"

  population states size  size4
1 25044      RI     small small
2 50577      NY     small large
3 16625      AZ     small small
4 26955      MA     small small
5 83055      AL     small large

In [69]:
#method 3
size3 <- c() 

for (i in state_df$population) {
    if (i < 500000) {
        size3 <- c(size3, "small")
        }
    else {
        size3 <- c(size3, "large")
        }

ERROR: Error in parse(text = x, srcfile = src): <text>:12:0: unexpected end of input
10:         }
11:
   ^

In [70]:
state_df

  population states size  size4
1 25044      RI     small small
2 50577      NY     small large
3 16625      AZ     small small
4 26955      MA     small small
5 83055      AL     small large

In [75]:
#ISSUE
state_df$size[state_df$population < 50000] <- "small"
state_df$size[state_df$population >= 50000] <- "large"

In [77]:
state_df$size4 <- NULL

In [78]:
state_df

  population states size
1 25044      RI     small
2 50577      NY     large
3 16625      AZ     small
4 26955      MA     small
5 83055      AL     large