In [1]:
#Challenges Class 3

dat <- sample(15)

In [2]:
dat

#our data is called dat, but can be named anything (arbotrary name), we just need to be consistent

 [1]  5  9 11  2 15  6 10 12  3 13  1  4 14  8  7

In [3]:
mat1 <- matrix(dat, nrow = 5) 

# we say make nrow equal to 5; nrow is a

In [4]:
mat1

     [,1] [,2] [,3]
[1,]  5    6    1
[2,]  9   10    4
[3,] 11   12   14
[4,]  2    3    8
[5,] 15   13    7

In [8]:
keep_row <- mat1[, 3] > 5 #keep_row = factor of boolean values

In [9]:
keep_row

[1] FALSE FALSE  TRUE  TRUE  TRUE

In [10]:
mat2 <- mat1[keep_row,]

In [11]:
mat2

     [,1] [,2] [,3]
[1,] 11   12   14
[2,]  2    3    8
[3,] 15   13    7